body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    background-color: #f0f0f0;
}

.layszdj {
    margin-bottom: 20px; 
    border: 5px solid #FFD700;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 10px;
}

button {
    padding: 30px 60px;
    font-size: 26px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
